* {
  box-sizing: border-box;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 0;
}
.contener {
  height: 450vh;
  width: 100vw;
  background-color: #111111;
}
.clock {
  height: 40px;
  width: 40px;
}
.book {
  height: 40px;
  width: 40px;
}
.music {
  margin-right: 60px;
  height: 300px;
  width: 300px;
}
.header {
  width: 100vw;
  height: 10vh;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.mid a {
  margin: 30px;
}
.top h1 {
  font-size: 80px;
  font-weight: 700;
  background: -webkit-linear-gradient(10deg, #ff00cc, #333399);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.topLeft {
  margin-left: 60px;
}
.top {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  width: 100vw;
}
.top p {
  word-spacing: 10px;
  margin-top: 20px;
  font-size: 20px;
}
.top a {
  text-decoration: underline;
  font-size: 20px;
}
.button1 {
  text-align: center;
  color: white;
  background: -webkit-linear-gradient(10deg, #ff00cc, #333399);
  display: inline-block;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 40px;
}
.bg1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 70px;
  margin-top: 60px;
  border: 3px solid;
  border-radius: 5px;
  border: 1px solid transparent;
  background: linear-gradient(#403b3b, #403b3b) padding-box,
    linear-gradient(10deg, #ff00cc, #333399) border-box;
}
.midlane {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.midlane h2 {
  margin-top: 40px;
}
.pa {
  margin-top: 40px;
  color: grey;
}
.pa1 {
  margin-top: 40px;
  color: grey;
}
.work {
  width: 90px;
  border-bottom: 1px solid transparent;
  background: linear-gradient(#111111, #111111) padding-box,
    linear-gradient(10deg, #ff00cc, #333399) border-box;
}
.list {
  color: grey;
}
.bio h3,
p {
  display: inline;
}
.bioT {
  width: 60px;
  border-bottom: 1px solid transparent;
  background: linear-gradient(#111111, #111111) padding-box,
    linear-gradient(10deg, #ff00cc, #333399) border-box;
}
.Spec {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}
.Spec h2 {
  margin-left: 20px;
  color: white;
}
.Spec p {
  margin-left: 20px;
  color: gray;
}
.ok {
  height: 40px;
  width: 40px;
}
.home {
  height: 40px;
  width: 40px;
}
.star {
  height: 40px;
  width: 40px;
}
.leftB {
  border-radius: 5px;
  width: 300px;
  height: 200px;
  background-color: #403b3b;
}
.midB {
  border-radius: 5px;
  width: 300px;
  height: 200px;
  background-color: #403b3b;
}
.rightB {
  border-radius: 5px;
  width: 300px;
  height: 200px;
  background-color: #403b3b;
}
.info {
  color: white;
  width: 100vw;
  height: 60vw;
  background-color: #0f151a;
  margin-top: 50px;
}
.info p {
  color: grey;
}
.info a {
  text-decoration: underline;
}
.web {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.Apple {
  float: right;
  height: 200px;
  width: 200px;
}
.WM {
  float: right;
  height: 200px;
  width: 200px;
}
.GM {
  float: right;
  height: 200px;
  width: 200px;
}
.Orange {
  float: right;
  height: 200px;
  width: 200px;
}
.rightTop {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  width: 650px;
  height: 250px;
  background: #191f26;
}
.leftTop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  width: 650px;
  height: 250px;
  background: #191f26;
}
.leftBot {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin-top: 50px;
  width: 650px;
  height: 250px;
  background: #191f26;
}
.rightBot {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin-top: 50px;
  width: 650px;
  height: 250px;
  background: #191f26;
}
.txt {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 50px;
}
.txt h1 {
  margin-left: 30px;
}
.txt p {
  margin-left: 450px;
}
.button2 {
  text-align: center;
  color: white;
  background: -webkit-linear-gradient(10deg, #ff00cc, #333399);
  display: inline-block;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  margin-top: 50px;
  margin-left: 47vw;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorBoxB {
  color: white;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  border-radius: 10px;
  background-color: #1b1c1e;
  height: 60vh;
  width: 70vw;
}
.Arrow {
  width: 25px;
  height: 25px;
}
.phone {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}
.email {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}
.localisation {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}
.paragraf {
  margin-top: 10px;
}
.button3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: white;
  background: -webkit-linear-gradient(10deg, #ff00cc, #333399);
  border-radius: 30px;
  width: 200px;
  height: 50px;
}

.nameEmail {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 30px;
  background-color: #111111;
  border: solid grey 2px;
  border-radius: 5px;
  color: grey;
}
.MS {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 100px;
  background-color: #111111;
  border: solid grey 2px;
  border-radius: 5px;
  color: grey;
}
.contactB {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.location {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.meil {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.leftCB {
  display: flex;
  flex-direction: column;
}
.down {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  color: white;
}
.leftD {
  width: 45vw;
  height: 10vw;
  text-decoration: underline;
  margin-left: 250px;
  display: flex;
  align-items: center;
}
.rightD {
  height: 10vw;
  width: 45vw;
  margin-left: 330px;
  display: flex;
  align-items: center;
}
.line {
  margin-left: 250px;
  height: 50px;
  width: 70vw;
  border-bottom: solid grey 2px;
}
.footer {
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 3vh;
}
.leftF {
  margin-left: 250px;
}
.rightF {
  margin-right: 200px;
  display: flex;
  flex-direction: row;
}
.policy {
  width: 110px;
  border-right: solid 2px grey;
  margin-right: 10px;
}
